* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

li a {
  color: #a4a4a4;
}

li a:hover {
  padding-bottom: 4px;
  border-bottom: 3px solid blueviolet;
}

.wrapper_content-tab {
  position: relative;
}

.content-tab {
  position: absolute;
  visibility: hidden;
  padding: 1.75em 0;
  height: 0;
}

.content-tab h1 {
  font-size: 1.125em;
  margin-bottom: 1.75em 0;
}

.content-tab.content-visible {
  position: static;
  visibility: visible;
  height: auto;
}

.active {
  color: #444;
  padding-bottom: 4px;
  border-bottom: 3px solid blueviolet;
}
