* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: gold;
  font-size: 3rem;
}

.typed-text {
  color: darkgreen;
}

.cursor {
  color: darkgreen;
}