* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gold;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

p {
  font-size: 3rem;
}

.title {
  color: crimson;
}

.typed-text {
  color: green;
}

.cursor {
  color: green;
}