* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#container {
  position: relative;
  padding: 7px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#tooltip-container {
  position: absolute;
  top: 0;
  left: 50%;
  background: black;
  color: #fff;
  padding: 10px 15px;
  transform: translateX(-50%);
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 7px;
}

#tooltip-container::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: black #0000 #0000 #0000;
}

#container:hover #tooltip-container {
  top: -130%;
  visibility: visible;
  opacity: 1;
}