:root {
  --main-color : black;
  --second-color : white;
}

body {
  background: var(--second-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#switch {
  width: 0;
  height: 0;
  visibility: hidden;
}

label {
  display: block;
  width: 100px;
  height: 50px;
  background: var(--main-color);
  border-radius: 70px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

label::after {
  content: "";
  width: 40px;
  height: 40px;
  background: var(--second-color);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 70px;
  transition: 0.5s;
}

#switch:checked + label::after {
  background: var(--main-color);
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#switch:checked + label {
  background: var(--second-color);
}

label:active::after {
  width: 60px;
}