* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: black;
  color: #fff;
  font-family: sans-serif;
}

.content {
  padding: 4rem;
}

section {
  border: 2px solid white;
  padding: 20px;
  margin: 20px auto;
}

section h1 {
  margin: 10px auto;
}

.scroll-indicator {
  position: fixed;
  height: 5px;
  width: calc(100% - 6em);
  top: 10px;
  left: 3em;
  border-radius: 3px;
}

.scroll-indicator .progress {
  height: 100%;
  width: 20px;
  background: linear-gradient(30deg, #FF70AB, #C3FF93);
  border-radius: 3px;
  transition: width .5s;
}
